<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VIUM - 간단한 분리수거 가이드</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <!-- jQuery-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand">
                    <!-- logo -->
                    <img src="../static/images/logo.jpg" onClick="window.open('login_popup.html')" alt="" width="150px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">

                    <!-- 수정이 들어갈 부분-->
                    <div class="col-lg-6 order-first order-lg-last">

                        <!-- 클릭하면 나올 영상 -->
                        <iframe name="choose_video" id="choose_video" width="700" height="500"></iframe>
                    </div>
                    <!-- 여기까지 수정-->

                    <div class="col-lg-6">
                        <div class="video_container">
                            <div class="first">
                                <iframe width="300px" height="230px" src="https://www.youtube.com/embed/PdnVVESld0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </div>
                            <div class="second ">
                                <iframe width="300px " height="230px " src="https://www.youtube.com/embed/Oehlr0Z8yOU " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture
                                    " allowfullscreen>
                                </iframe>
                            </div>
                            <div class="third">
                                <iframe width="300px" height="230px" src="https://www.youtube.com/embed/Y1oBl6VblYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </div>
                            <div class="fourth ">
                                <iframe width="300px " height="230px " src="https://www.youtube.com/embed/etL7jfKaIY8 " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>

                    <!-- 버튼을 넣은 부분 -->
                    <!-- <div class=p lay_btn>

                    </div> -->


                </div>
            </div>
        </section>

    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; VIUM / Click to go to the referenced page</div>
                </div>
                <div class="col-auto">
                    <a class="change_screen" href="#!">유저화면</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="change_screen" href="db_view.html">DB화면</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>

<!-- reference -->
<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.alfredocreates.com" title="Alfredo Hernandez">Alfredo Hernandez</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->